<p>
  <b>Title:</b>
  <%=h @tape.title %>
</p>

<p>
  <b>Image url:</b>
  <%=h @tape.image_url %>
</p>

<p>
  <b>Memo:</b>
  <%=h @tape.memo %>
</p>


<%= link_to 'Edit', edit_tape_path(@tape) %> |
<%= link_to 'Back', tapes_path %>