<h1>Listing tapes</h1>

<% form_for @search do |f| -%>
  <%= f.text_field :title_or_memo_like %>
	<%= f.submit 'Serach' %>
<% end -%>
<table>
	<tr>
		<th>Title</th>
		<th>Image url</th>
		<th>Memo</th>
	</tr>
	
<% for tape in @tapes %>
	<tr>
		<td><%=h tape.title %></td>
		<td><%= image_tag(tape.photo(:thumb), :alt => tape.memo, :title => tape.title) %></td>
		<td><%=h tape.memo %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3">
			<%= will_paginate @tapes %>
		</td>
	</tr>
</table> 
<br /> 
<%= link_to "Contact Us", contactus_path, :class => "button round" %>