<div id="left" class="round">
	<% form_for @search do |f| -%>
	  <%= f.text_field :title_or_memo_like, :size => 20 %>
		<%= f.submit 'Search' %>
	<% end -%>
	<br />
	<%= link_to 'All Products', home_path %><br />
	<% Category::TYPES.each do |category| %>
		<%= link_to category[0], :controller => "pages", :action => "index", :category => category[1] %><br />
	<% end %>
</div>
<div id="right">
	<ul>
		<% for tape in @tapes %>
			<!-- <td><%=h tape.title %></td> -->
			<li>
				<a rel="facebox" href="<%= image_path(tape.photo.url) %>">
					<%= image_tag(tape.photo(:thumb), :alt => tape.memo, :title => tape.title) %>
				</a>
			</li>
			<!-- <td><%=h tape.memo %></td> -->
		<% end %>
		</ul>
		<%= will_paginate @tapes %>
	<br /> 
	<%= link_to "Contact Us", contactus_path, :class => "button round" %>
</div>
<br clear="all">