<p>
  <b>Name:</b>
  <%=h @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>

<p>
  <b>Tel:</b>
  <%=h @contact.tel %>
</p>

<p>
  <b>Fax:</b>
  <%=h @contact.fax %>
</p>

<p>
  <b>Address:</b>
  <%=h @contact.address %>
</p>


<%= link_to 'Edit', edit_admin_contact_path(@contact) %> |
<%= link_to 'Back', admin_contacts_path %>