<h1>Listing tapes</h1>

<% form_for @search do |f| -%>
  <%= f.text_field :title_or_memo_like %>
	<%= f.submit 'Serach' %>
<% end -%>

<table>
  <tr>
    <th>Title</th>
    <th>Photo</th>
    <th>Memo</th>
    <th>Category</th>
  </tr>

<% @tapes.each do |tape| %>
  <tr>	
    <td><%=h tape.title %></td>
    <td><%= image_tag(tape.photo(:thumb)) %></td>
    <td><%=h tape.memo %></td>
    <td><%=h tape.category.name %></td>
    <td><%= link_to 'Show', [:admin, tape] %></td>
    <td><%= link_to 'Edit', edit_admin_tape_path(tape) %></td>
    <td><%= link_to 'Destroy', [:admin, tape], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
	<tr>
		<td colspan="6">
			<%= will_paginate @tapes %>
		</td>
	</tr>
</table>

<br />

<%= link_to 'New tape', new_admin_tape_path %>