<p>
  <b>Title:</b>
  <%=h @tape.title %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@tape.photo(:thumb), :mouseover => @tape.photo.url) %>
</p>

<p>
  <b>Memo:</b>
  <%=h @tape.memo %>
</p>


<%= link_to 'Edit', edit_admin_tape_path(@tape) %> |
<%= link_to 'Back', admin_tapes_path %>