<div id="nav">
	<ul class="navigation round">
		<li><%= link_to "Home", home_path %></li> <br />
		<li><%= link_to "About", about_path %></li> <br />
		<li><%= link_to "ContactUs", contactus_path %></li> <br />
		<br />
		<li><%= link_to "分类3", '#' %></li> <br />
		<li><%= link_to "分类4", '#' %></li> <br />
	</ul>
</div>